@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'vant/lib/index.css';
@import 'bottom-sheet-vue3/css/style.css';

@tailwind base;

::before,
  ::after {
    box-sizing: border-box; /* 1 */
    border-width: 0; /* 2 */
    border-style: solid; /* 2 */
    border-color: theme('borderColor.DEFAULT', currentColor); /* 2 */
  }
  ::before,
  ::after {
    --tw-content: '';
  }
  /*
  1. Use a consistent sensible line-height in all browsers.
  2. Prevent adjustments of font size after orientation changes in iOS.
  3. Use a more readable tab size.
  4. Use the user's configured `sans` font-family by default.
  */
  html {
    line-height: 1.5; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -moz-tab-size: 4; /* 3 */
    tab-size: 4; /* 3 */
    height: -webkit-fill-available;
    font-family: theme('fontFamily.sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"); /* 4 */
  }
  /*
  1. Remove the margin in all browsers.
  2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
  */
  body {
    margin: 0; /* 1 */
    line-height: inherit; /* 2 */
    min-height: 100svh;
    min-height: 100vh;
    pointer-events:none;

    min-height: -webkit-fill-available;
  }
  @media only screen and (max-width: 400px) {
    body {
      min-height: 'calc(100vh - 70px)';
    }
  }
  /*
  1. Add the correct height in Firefox.
  2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
  3. Ensure horizontal rules are visible by default.
  */
  hr {
    height: 0; /* 1 */
    color: inherit; /* 2 */
    border-top-width: 1px; /* 3 */
  }

  .image-blurred-edge {
    width: -webkit-fill-available;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    /* you need to match the shadow color to your background or image border for the desired effect*/
    box-shadow: 0 0 8px 8px white inset;
}

  /*
  Add the correct text decoration in Chrome, Edge, and Safari.
  */
  abbr:where([title]) {
    text-decoration: underline dotted;
  }
  /*
  Remove the default font size and weight for headings.
  */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  /*
  Reset links to optimize for opt-in styling instead of opt-out.
  */
  a {
    color: inherit;
    text-decoration: inherit;
  }
  /*
  Add the correct font weight in Edge and Safari.
  */
  b,
  strong {
    font-weight: bolder;
  }
  /*
  1. Use the user's configured `mono` font family by default.
  2. Correct the odd `em` font sizing in all browsers.
  */
  code,
  kbd,
  samp,
  pre {
    font-family: theme('fontFamily.mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace); /* 1 */
    font-size: 1em; /* 2 */
  }
  /*
  Add the correct font size in all browsers.
  */
  small {
    font-size: 80%;
  }
  /*
  Prevent `sub` and `sup` elements from affecting the line height in all browsers.
  */
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }
  /*
  1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
  2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
  3. Remove gaps between table borders by default.
  */
  table {
    text-indent: 0; /* 1 */
    border-color: inherit; /* 2 */
    border-collapse: collapse; /* 3 */
  }
  /*
  1. Change the font styles in all browsers.
  2. Remove the margin in Firefox and Safari.
  3. Remove default padding in all browsers.
  */
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: inherit; /* 1 */
    color: inherit; /* 1 */
    margin: 0; /* 2 */
    padding: 0; /* 3 */
  }
  /*
  Remove the inheritance of text transform in Edge and Firefox.
  */
  button,
  select {
    text-transform: none;
  }
  /*
  1. Correct the inability to style clickable types in iOS and Safari.
  2. Remove default button styles.
  */
  button,
  [type='button'],
  [type='reset'],
  [type='submit'] {
    -webkit-appearance: button; /* 1 */
    background-color: transparent; /* 2 */
    background-image: none; /* 2 */
  }
  /*
  Use the modern Firefox focus style for all focusable elements.
  */
  :-moz-focusring {
    outline: auto;
  }
  /*
  Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
  */
  :-moz-ui-invalid {
    box-shadow: none;
  }
  progress {
    vertical-align: baseline;
  }
  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto;
  }
  /*
  1. Correct the odd appearance in Chrome and Safari.
  2. Correct the outline style in Safari.
  */
  [type='search'] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  /*
  1. Correct the inability to style clickable types in iOS and Safari.
  2. Change font properties to `inherit` in Safari.
  */
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  /*
  Add the correct display in Chrome and Safari.
  */
  summary {
    display: list-item;
  }
  /*
  Removes the default spacing and border for appropriate elements.
  */
  blockquote,
  dl,
  dd{
    margin: 0;
  }

  h1{
    font-size:2em;
     font-weight:normal;
  }
  h2{
    font-size:1.8em;
     font-weight:normal;
  }
  h3{
    font-size:1.5em;
     font-weight:normal;
  }
  h4{
    font-size:1.2em;
     font-weight:normal;
  }
  h5{
    font-size:1em;
     font-weight:normal;
  }
  h6{
    font-size:0.5em;
     font-weight:normal;
  }
  hr{
    margin: 5px 0;
  }
  figure,
  p{
    font-size:1em;
     font-weight:normal;
  }
  pre {
    margin: 0;
  }
  fieldset {
    margin: 0;
    padding: 0;
  }
  legend {
    padding: 0;
  }
  ol,
  ul,
  menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /*
  Prevent resizing textareas horizontally by default.
  */
  textarea {
    resize: vertical;
  }
  /*
  1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
  2. Set the default placeholder color to the user's configured gray 400 color.
  */
  input::placeholder,
  textarea::placeholder {
    opacity: 1; /* 1 */
    color: theme('colors.gray.400', #9ca3af); /* 2 */
  }
  /*
  Set the default cursor for buttons.
  */
  button,
  [role="button"] {
    cursor: pointer;
  }
  /*
  Make sure disabled buttons don't get the pointer cursor.
  */
  :disabled {
    cursor: default;
  }
  /*
  1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
  2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
     This can trigger a poorly considered lint error in some tools but is included by design.
  */
  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;
    vertical-align: middle;
  }
  /*
  Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
  */
  img,
  video {
    max-width: 100%;
    height: auto;
  }
  /*
  Ensure the default browser behavior of the `hidden` attribute.
  */
  [hidden] {
    display: none;
  }
  

@tailwind components;

@font-face {
  font-family: 'clanpro-book';
  src: local('clanpro-book'), url(../font/clanpro_book.otf) format('otf');
}

@font-face {
  font-family: 'clanpro-medium';
  src: local('clanpro-medium'), url(../font/clanpro_medium.otf) format('otf');
}

@font-face {
  font-family: 'clanpro-narrnews';
  src: local('clanpro-narrnews'), url(../font/clanpro_narrnews.otf) format('otf');
}

@font-face {
  font-family: 'montserrat-regular';
  src: local('montserrat-regular'), url(../font/montserrat_regular.ttf) format('ttf');
}

@tailwind utilities;


/* home route and active route will show in bold as it matches / and /about */
a.nuxt-link-active {
  @apply text-gray-600 !important;
}
/* exact link will show the primary color for only the exact matching link */
a.nuxt-link-exact-active {
  @apply text-gray-600 !important;
}

/* new nav with navigation */


.navbar-active-site-wrapper {
  animation: navbar-active 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
  animation-fill-mode: forwards;
  @apply fixed w-full h-screen overflow-y-hidden bg-white pl-4 rounded-[30px] border;
}

.navbar-deactive-site-wrapper {
  animation: navbar-deactive 0.5s;
  animation-fill-mode: forwards;
  @apply fixed w-full h-screen overflow-y-hidden bg-white;
}

.active-navbar-body {
  @apply overflow-y-hidden md:overflow-y-auto;
}

@keyframes navbar-active {
  0% {
      @apply left-10 top-0;
  }
  100% {
      @apply left-72 rotate-6 top-10;
      box-shadow: -30px 30px 5px rgba(255, 255, 255, 0.3);
  }
}

@keyframes navbar-deactive {
  0% {
      @apply left-72 rotate-6 top-10 rounded-[30px];
      box-shadow: -30px 30px 5px rgba(255, 255, 255, 0.3);
  }
  100% {
      @apply left-0 top-0 rounded-[0px];
  }
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
  }
   .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;

    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;

    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;

    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
  }
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
} */
